                  <!-- FLOW OF ANGULAR -->

<!-- Flow of Angular Get Started -->

<!-- Main.ts is the main file where appModule is loaded by means of bootstrap -->

<!-- In App Module will then loaded with App Component -->

<!-- <app component is then loaded into the index.html file as app-root in order to execute and app component serves as the main file for other components to get loaded . There by then other components can be loaded into the app component-->

<!-- Key Concepts 

Whenever we create a Component we have to import it in the appmodule 

We can also call other Components Such Server in Servers Component in our file but make sure to import Server Component so that the data in servers component loaded when the Server Component loaded -->
<!-- 
<app-server></app-server>
<app-servers></app-servers> -->
<app-directives></app-directives>


