<h3 class="success">Success is the Progressive Realisation of a Worthy Ideal</h3>

<!-- //String Interpolation -->

<!-- String Interpolation is the communication between the Typescript and the Html /we can the the communicatoon between a model and view -->

<p>Hey your {{'server'}} with ID {{serverId}} is  {{getServerStatus()}}</p>

<!-- //Property Binding

Property Binding is the Binding of the properties associated with elements like button -->


<!-- //Event Binding
 
Event Binding is nothing but the communication b/w view and model(ts) .As the name indicates it occurs only when the event occurs -->

<label>Server Name<label>

  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
  <input type="text" class="form-control" [(ngModel)]='ServerName'>
<!-- <p>{{ServerName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowServer" (click)="AddedServer()">Add Server</button>
<p>{{ServerStatus}}</p>
<p [innerText]="allowServer"></p>

<!-- Two Way Data Binding

It Serves as a communication between the Html and the typescript  -->






