<h3 class="success">Success is the Progressive Realisation of a Worthy Ideal</h3>

<!-- //String Interpolation -->

<!-- String Interpolation is the communication between the Typescript and the Html /we can the the communicatoon between a model and view -->

<p>Hey your {{'server'}} with ID {{serverId}} is  {{getServerStatus()}}</p>

<!-- //Property Binding

Property Binding is the Binding of the properties associated with elements like button -->

<button class="data" [disabled]="allowServer">Add Server</button>